body {
    margin: 0;

    font-size: 17px;
    color: #111;
    line-height: 1.6;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

div {
    display: block;
}

.logo {
    display: flex;
    font-size: 30px;
    align-content: center;
    background-color: #bbb4b478;
    height: 60px;

    padding-left: 20px;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 5px 30px 72px;
    height: 315px;
}

.container2 {
    margin-left: 24px;
    margin-bottom: -24px;
    display: flex;
}

.user-info {
    flex-direction: column;
    width: 100%;
    padding-left: 24px;
    padding-bottom: 24px;
    margin-right: 30px;
    display: flex;
}

.container-avatar {
    display: flex;
    padding: 20px 0 0 100px;
    padding-left: 24px;
    padding-bottom: 24px;
    margin-right: 30px;
    display: flex;
}

.name {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 6px;
}

.circle-avatar {
    border-radius: 50%;
}

.info-img {
    display: flex;
    align-items: center;
}

.left {
    padding-left: 20px;
}

.img1 {
    width: 100%;
    height: auto;
}

.hide {
    display: none;
}

.circle-color {
    width: 17px; 
    height: 17px;
    border: 1px solid #000;
    border-radius: 50%;
}

.mosaic-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.mosaic-item {
    width: 30%;
    margin: 10px;
}

.mosaic-img {
    width: 100%;
}

.mosaic-content{

}

.mosaic-avatar {
    width: 12%;
    height: auto;
    border-radius: 50%;
}

.mosaic-info {
    font-size: 13px;
}

.mosaic-likes {
    display: flex;
    justify-content: flex-end;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-nextArroy {
    
}