* {
    box-sizing: border-box
}

body {
font-size: 17px;
color: #111;
line-height: 1.6;
font-weight: 400;
}

div {
    display: block;
}

.nav {
    display: flex;
    font-size: 30px;
    align-content: center;
    background-color: #bbb4b478;
    height: 60px;

    padding-left: 20px;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 5px 12px 72px;
    height: 315px;
}

.container2 {
    margin-left: -24px;
    margin-bottom: -24px;
    display: flex;
}

.container3 {
    padding-left: 24px;
    padding-bottom: 24px;
    margin-right: 30px;
    display: flex;
}

.preview-info {
    flex-direction: column;
    width: 100%;
}

.prof-img {
    display: flex;
    padding: 20px 0 0 100px;
}

.name {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 6px;
}

.circle2 {
    border-radius: 50%;
}

.info-img {
    display: flex;
    align-items: center;
}

.left {
    padding-left: 20px;
}

.img1 {
    width: 700px;
    height: auto;
}

.hide {
    display: none;
}

.circle {
    width: 30px; 
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
}

.pad {

}

.grid {
    display: grid;
    align-items: start;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 1em;
    
}

.prev-img {
    position: relative;
    height: auto;
    width: 100%;
}